player-connection-mode=Listen
player-connection-guid=2304435334
player-connection-debug=0
player-connection-project-name=MeetingRoom
player-connection-ip=110.13.149.150
player-connection-ip=25.76.229.0
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
